<html>
  <head>
    <title>Olin Course Catalog: {{ course_name }}</title> <!--the course_name thing isn't working-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
      td, th { border: 0 !important; }
    </style>
  </head>
  <body>
  <h1>{{course_name}}</h1>
  <h2>Course Description</h2>
  <p>{{course.course_description}}</p>
  <h2>Course Logistics</h2>
  <h3>Credits: {{course.course_credits}}</h3>
  <h3>Hours: {{course.course_hours}}</h3>
  <h3>Contact: {{course.course_contact}}</h3>
  </body>
</html>