<html>
  <head>
    <title>Olin Course Catalog: {{ professor }}</title> <!--the {{}} thing isn't working-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
      td, th { border: 0 !important; }
    </style>
  </head>
  <body>
  <h1>Professor Here</h1> <!--I would like to put the Professor here as an H1, but don't know how to grab it, since the thing in the title isn't working-->
    <dl>
<!--      {% for index, course in courses %}
        <dt><h2>{{ course.course_number }}: {{ course.course_name }} ({{ course.course_contact }})</h2></dt>
        <dd>{{ course.course_description }}</dd>
        <a href="/">Go Back to Course Catalog Home</a>
      {% endfor %}
-->
    </dl>    
  </body>
</html>